.segmented-control.jsx-2069710253 {
  margin-bottom: 10px;
  position: relative;
  width: 400px;
  height: 50px;
}
.segment.selected.jsx-2069710253 {
  cursor: default;
  font-weight: 600;
  border: 1px solid rgb(23, 65, 98);
  background: rgb(44, 102, 147);
  color: white;
}

.segment.selected.jsx-2069710253:focus{
  background: rgb(44, 102, 147);
}

.segment.jsx-2069710253 {
  all: unset;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  width: 50%;
  color: rgb(108, 119, 135);
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: rgb(213, 221, 229);
  border-image: initial;
  background: rgb(251, 252, 253);
  padding: 8px 16px;
  height: 40px;
}


    #container {
      display: flex;
      height: 100%;
    }

    #left-container, #right-container {
      overflow: auto;
      
      box-sizing: border-box;
    }

    #left-container {
      flex: 2; /* Initial width ratio for left container */
    }

    #right-container {
      flex: 1;
    }
 
    #sub-box {
      padding: 20px;
      background-color: #f7f7f7;
      border: 1px solid #ccc;
      border-radius: 8px;
      margin: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }


    .recipient-form-container,
    .days-info-container,
    .update-button {
      margin-bottom: 15px;
    }

    .switch-field-container {
      display: flex;
      align-items: center;
    }

    .switch-field-container label {
      margin-right: 10px;
    }

   
  /* Add more styles as needed */
  .update-button {
    background-color: #4caf50; /* Green background color */
    color: white; /* White text color */
    padding: 10px 20px; /* Padding to make the button look nicer */
    font-size: 16px; /* Adjust font size as needed */
    border: none; /* Remove border */
    border-radius: 4px; /* Add border radius for rounded corners */
    cursor: pointer; /* Add pointer cursor on hover */
  }
  
  .update-button:hover {
    background-color: #45a049; /* Darker green on hover */
  }

  /* Common styles for the tooltip component */
  
  .clickable-symbol {
    cursor: pointer;
    color: #007bff; /* Blue color */
    text-decoration: underline;
    font-size: 1.2em; /* Adjust the font size as needed */
    margin-left: 5px; /* Add margin for spacing */
  }

   
  .tooltip-container {
      position: absolute;
      display: inline-block;
    }
  
  .tooltip-container .tooltip-content {
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: #ffffff; /* White background */
    border: 1px solid #ccc;
    border-radius: 5px; /* Add border-radius for rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    width: 300px; /* Set a fixed width or adjust as needed */
  }
  
  .tooltip-container:hover .tooltip-content {
    display: block;
  }
  
  .stockout-container {
    padding: 10px;
  }
  
  
  .stockout-category {
    margin-bottom: 12px;
  }
  
  .stockout-category strong {
    font-weight: bold;
    margin-right: 5px;
  }
  
  .stockout-category-info {
    color: #777; /* Dim gray for additional information */
  }
  
  /* Common styles for the AlertBar component */
.alert-bar {
  position: absolute;
  width: 100%; /* Adjust as needed */
  text-align: center;
  padding: 10px;
  /* Add more styles as needed */
}

.invalid-input {
  background-color: #ff9999; /* Light red for invalid input */
  color: #990000; /* Darker red text color */
}

.missing-info {
  background-color: #ffcc00; /* Light yellow for missing info */
  color: #996600; /* Darker yellow text color */
}
    
.page-title {
  color: #333;
  font-size: 2em;
  margin-bottom: 20px;
}

.info-icon {
  margin-left: 10px;
  width: 20px; /* Adjust the width as needed */
  height: 20px; /* Adjust the height as needed */
  cursor: pointer; /* Add a pointer cursor to indicate it's clickable */
}

.recipientLabel{
  font-weight: 500;
}

.recipientInput{
  border-radius: 5px;
  margin-bottom: 10px;
}