.page-title {
  color: #333;
  font-size: 2em;
  margin-bottom: 20px;
}

.alert-bar {
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 10px;
}
.alert-bar-recount {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.invalid-input {
  background-color: #ff9999;
  color: #990000;
}

.missing-info {
  background-color: #ffcc00;
  color: #996600;
}  

.info-icon {
  margin-left: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#container {
  display: flex;
  height: 100%;
}

#left-container, #right-container {
  overflow: auto;
  
  box-sizing: border-box;
}

#left-container {
  flex: 2;
}

#right-container {
  flex: 1;
}

#sub-box {
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.switch-field-container {
  display: flex;
  align-items: center;
}

.switch-field-container label {
  margin-right: 10px;
}

.recipientLabel{
  font-weight: 500;
}

.recipientInput{
  border-radius: 5px;
  margin-bottom: 10px;
}

.input-wrapper {
  position: relative;
  display: inline-block;
}

.balance-status-span {
  cursor: pointer;
}

.balance-status-span.orange {
  color: orange;
}

.balance-status-span.green {
  color: green;
}

.balance-status-span.red {
  color: red;
}


table.jsx-2430604489 .highlighted-row.zebraStriping {
  background-color:#d0e7e1; ;
}

.clickable-symbol {
  cursor: pointer;
  color: #007bff;
  text-decoration: underline;
  font-size: 1.2em;
  margin-left: 5px;
}

.tooltip-container {
    position: absolute;
    display: inline-block;
  }

.tooltip-container .tooltip-content {
  top: 100%;
  left: 0;
  z-index: 1;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.tooltip-container:hover .tooltip-content {
  display: block;
}

.stockout-container {
  padding: 10px;
}


.stockout-category {
  margin-bottom: 12px;
}

.stockout-category strong {
  font-weight: bold;
  margin-right: 5px;
}

.stockout-category-info {
  color: #777;
}


#container {
  display: flex;
  justify-content: space-between;
}

#container::after {
  content: '';
  display: table;
  clear: both;
}

.left-container {
  float: left;
  width: 20%; /* Adjust the initial width as needed */
}

.right-container {
  float: right;
  width: 20%; /* Adjust the initial width as needed */
}

@media (max-width: 1260px) {
  #container {
    flex-direction: column;
  }

  .left-container,
  .right-container {
    width: 100%;
  }
}